/*UNIVERSAL*/
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  max-width: 1400px;
  margin: 100px auto;
  padding: 50px 0;
  background-color: #F8F8F8;
}

a:link, a:visited {
  text-decoration: none;
  color: #ff6b6b;
  font-weight: 500;
}

.sean a:hover, .sean a:active{
  color: #ff6b6b;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* NAVIGATION */

li {
  list-style-type: none;
}

.container-nav .row,
.container-nav .row {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer {
  padding: 50px;
}


.navigation a {
  font-size: 15px;
  font-weight: 500;
  color: #aaa;
}

.site-logo {
  max-width: 40px;
}



/* Typography */
p {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 0.05em;
  line-height: 1.7;
  color: #272727;
}

.sean h1 {
  font-size: 20px;
  font-weight: 500;
}


.portfolio-title {
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
}

.portfolio-name {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  display: inline;
  align-items: center;
}

.portfolio-tag{
  background-color: #ff6b6b;
  color: #fff;
  display: inline;
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  /* border-radius: 15px; */
}





/* HOMEPAGE */
.container-main {
  background-color: #fff;
  padding: 150px;
  margin-bottom: 30px;
}

.portfolio {
  margin-bottom: 50px;
}

.portfolio-thumbnail {
  height: 300px;
  width: 100%;
  background-color: transparent;
  object-fit: cover;
  /* margin-bottom: 150px; */
}

.portfolio-project {
  margin-bottom: 100px;
  max-height: 324px;
}

/* Portfolio Piece */
.main-container {
  padding: 100px;
}

.project-detail{
  padding: 50px 0;
}

.portfolio-img {
  max-width: 100%;
  background-color: transparent;
}




/* Contact */
.contact {
  margin: 100px 0;
}

.contact .contact-intro{
  display: block;
  margin: auto;
}

.contact .contact-intro {
  padding: 0 50px;
}

.profile img{
  width: auto;
  height: 250px;
  margin: 0 auto 100px;
  display: block;
  align-items: center;
}
