/*UNIVERSAL*/
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* max-width: 1400px; */
  margin: 100px auto;
  padding: 50px 0;
  background-color: #F8F8F8;
}

a:link, a:visited {
    text-decoration: none;
    color: #FC1B53;
    font-weight: 700;
}

.sean a:hover {
  color: #FC1B53;
  text-decoration: none;
}

/* NAVIGATION */
header {
    padding: 20px 40px; // 20px 40px 20px 40px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 700;
  padding-bottom: 5px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  /* float: right; */
}

.navigation a {
  margin-left: 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #aaa;
}

.container h1 a{
  color: #FF0000;
}



/* Typography */
p {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 0.05em;
  line-height: 1.7;
  color: #272727;
}

h1 {
  font-size: 25px;
  font-weight: 900;
  margin: 50%;
}

.portfolio-title h2{
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.sean .portfolio h2 a {
  color: #000;
  font-weight: 500;
}


/* HOMEPAGE */
.container-main {
  background-color: #fff;
  padding: 100px 100px;
  margin-bottom: 30px;
}

.portfolio {
  margin-bottom: 50px;
}

.portfolio-thumbnail {
  height: 300px;
  width: 100%;
  background-color: #ddd;
  object-fit: cover;
  /* margin-bottom: 150px; */
}

.portfolio-project {
  margin-bottom: 50px;
}


/* CONTACT HTML */
.contact {
  margin: 100px 0;
}

.contact-intro {
  /* width: 450px; */
}
