/*Body CSS*/

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* max-width: 1400px; */
  margin: 100px auto;
  padding: 50px 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: Red;
}

/*Navigation CSS*/
header {
    padding: 20px 40px; // 20px 40px 20px 40px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 700;
  padding-bottom: 5px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  /* float: right; */
}

nav p {
  margin-left: 20px;
}


/* Typography */

p {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 0.05em;
  line-height: 1.7;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  margin: 50%;
}

.portfolio h2 {
  color: Red;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}


/* PORTFOLIO SECTION */

.container-main {
  background-color: #ddd;
  padding: 100px 100px;
  margin-bottom: 50px;
}

.portfolio {
  margin-bottom: 50px;
}

.portfolio-thumbnail {
  height: 300px;
  width: 100%;
  background-color: #ddd;
  object-fit: cover;
  /* margin-bottom: 150px; */
}

.portfolio-project {
  margin-bottom: 50px;
}


/* CONTACT HTML */

.contact {
  margin: 100px 0;
}

.contact-intro {
  /* width: 450px; */
}
